@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

.animation-spin2 {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.markdown {
  @apply text-base-content;
}

.markdown h1 {
  @apply text-2xl font-bold;
}
.markdown h2 {
  @apply text-xl font-bold;
}

.markdown h3 {
  @apply text-lg font-bold;
}

.markdown a {
  @apply link link-primary;
}

.markdown pre {
  @apply bg-neutral text-neutral-content whitespace-pre p-2 rounded-lg;
}
